<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="10 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <contextName>logback</contextName>
    <logger name="org.springframework.web" level="debug"/>
    <logger name="org.springboot.sample" level="debug" />
    <property name="log.path" value="/usr/local/var/logs" />
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>ERROR</level>  
            <onMatch>DENY</onMatch>  
            <onMismatch>ACCEPT</onMismatch>  
        </filter>  
        <encoder>  
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>  
        </encoder>  
        <!--滚动策略-->  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <!--路径-->  
            <fileNamePattern>${log.path}/microservice-info/%d/info.%d.log</fileNamePattern>  
        </rollingPolicy>  
    </appender>  
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">  
            <level>ERROR</level>  
        </filter>  
        <encoder>  
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>  
        </encoder>  
        <!--滚动策略-->  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <!--路径-->  
            <fileNamePattern>${log.path}/microservice-error/%d/error.%d.log</fileNamePattern>  
        </rollingPolicy>  
    </appender>
    <root level="info">  
        <appender-ref ref="fileInfoLog" />  
        <appender-ref ref="fileErrorLog" />
    </root>
    <!--输出sql语句-->
    <logger name="com.founder.microservice" level="DEBUG"/>
</configuration>